:root {
  --background: #282c34;
  --color-plain: #abb2bf;
  --color-comment: #5c6370;
  --color-link: #3ba9c2;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #282c34;
  font-size: 0.4cm;
}

.textdisplay {
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  background: var(--background);
  color: var(--color-plain);
  font-family: 'Fira Code', Consolas, 'Courier New', monospace;
}

pre {
  font-family: inherit;
  margin: 0;
}

textarea {
  display: block;
  position: absolute;
  resize: none;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  width: auto;
  height: 100%;
  border: 0;
  background: transparent;
  color: transparent;
  caret-color: var(--color-plain);
  font-size: inherit;
  font-family: 'Fira Code', Consolas, 'Courier New', monospace;
}

textarea:focus {
  outline: none;
}
