body {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #282c34;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

textarea {
  display: block;
  background: #282c34;
  color: #abb2bf;
  resize: none;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 0;
  font-family: 'Fira Code', Consolas, 'Courier New', monospace;
}

textarea:focus {
  outline: none;
}
